[submodule "Game-Preparation"]
	path = Game-Preparation
	url = https://github.com/Masih-Roughani/Game-Preparation.git
[submodule "Concurrency"]
	path = Concurrency
	url = https://github.com/Masih-Roughani/Concurrency.git
[submodule "Data-Base-File"]
	path = Data-Base-File
	url = https://github.com/Masih-Roughani/Data-Base-File.git
[submodule "Reflection"]
	path = Reflection
	url = https://github.com/Masih-Roughani/Reflection.git
